{% extends "layout.html" %}

{% block pageTitle %}
  Make payment - error
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <a href="/payment-screens/service-payment-screen" class="govuk-back-link">Back</a>
        <br>
        <br>

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#dob-error">Credit limit exceeded, select account with available funds</a>
                </li>
              </ul>
            </div>
          </div>

          <h1 class="govuk-heading-xl">
            Make payment
            <span class="govuk-caption-xl"></span>
          </h1>{{releaseVersion | log }}
          <!-- <p>
            Amount to pay: £550
          </p> -->

        </div>

          <div class="govuk-grid-column-two-thirds">

              <div class="govuk-inset-text">
                Amount to pay:<p class="govuk-body govuk-!-font-weight-bold">£216.50</p>
              </div>





              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h1 class="govuk-fieldset__heading">
                        How do you want to pay?
                      </h1>
                    </legend>
                    <span id="email-hint" class="govuk-hint">

                    </span>
                    <div class="govuk-radios" data-module="radios">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="fee-type-conditional-2" name="fee-type" type="radio" checked="true" value="phone" data-aria-controls="conditional-fee-type-conditional-2">
                        <label class="govuk-label govuk-radios__label" for="fee-type-conditional-2">
                        Pay on my account
                      </label>
                      </div>
                      <div class="govuk-radios__conditional" id="conditional-fee-type-conditional-2">

                        <div class="govuk-radios" data-module="radios">

                          <h3 class="govuk-heading-s">
                            Select account
                            <span class="govuk-caption-xl"></span>
                          </h3>
                          <div class="govuk-form-group govuk-form-group--error">
                          <span id="nationality-error" class="govuk-error-message">
                           Credit limit exceeded, select account with available funds
                         </span>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="amount-type" type="radio" checked="true" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                            PBA1246287
                          </label>
                          </div>
                          <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-1">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="contact-by-email" value"550.00">
                                Enter a reference
                            </label>
                            <span id="nationality-hint" class="govuk-hint">This will appear on your statement to <br>help you identify this payment</span>
                            <span id="nationality-hint" class="govuk-hint"></span>
                              <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contact-by-email" type="text" value="Probate application - 34">
                            </div>

                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="amount-type" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                            PBA0896366
                          </label>
                          </div>
                          <div class="govuk-radios__conditional" id="conditional-how-contacted-conditional-2">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="contact-by-email">
                                Enter a reference
                            </label>
                            <span id="nationality-hint" class="govuk-hint">This will appear on your statement to <br>help you identify this payment</span>
                            <span id="nationality-hint" class="govuk-hint"></span>
                              <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-phone" name="contact-by-phone" type="text">
                            </div>

                          </div>

                          </div>
                        </div>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="fee-type-conditional-1" name="fee-type" type="radio" value="email" data-aria-controls="conditional-fee-type-conditional-1">
                        <label class="govuk-label govuk-radios__label" for="fee-type-conditional-1">
                        Card
                      </label>
                      </div>

                    </div>
                  </fieldset>
                </div>


                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Not got an account?
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        You need an account to make online payments to us.
                        <a href="">
              						Create an account
              					</a>
                      </div>
                  </details>


                  <a href="/payment-screens/payment-screen-done" class="govuk-button">
                    Pay and continue
                  </a>








      </div>
    </div>
  </main>
</div>

{% endblock %}
